* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
body{
    background-color: #fdfdfd;
}
#container{
    margin: 0 15%;
    height: 1500px;
    background-color: white;
}
h1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 60px;
    padding-bottom: 5px;
    color:#009933;
}  
h2{
    text-align: center;
    font-size: 20px;
    margin-right: 170px;
    font-family: 'Monda', sans-serif;
    padding-bottom: 20px;
    color:#02001e;
    font-family: "Poppins", sans-serif;
    font-weight: 700;

    }


    
    #logo{
    height: 120px;
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    }
    
    .fb{
    height: 50px;
    float: right;
    margin-right: 5px;
    margin-top: 25px;
    margin-left: 35px;
    }
    
    .ig{
    height: 50px;
    float: right;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 25px;
    }
    
    header{
    text-align: center;
    margin-bottom: 15px;
    }
    
    .tujestes{
        border: 2px solid #009933;
        border-radius: 10px;
    }
    .nav a:link{

    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size 100px;
    }
    
    .nav a:visited{

    text-decoration: none;
    background-color: #009933;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    color:white;
    }
    
    .nav a:hover{

    text-decoration: none;
    background-color: #009933;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    }
    
    .nav a{
    padding: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 17px;
    word-spacing: 0px;
    }
    
    .nav{
    word-spacing: 100px;
    padding: 30px 30px;
    border-radius: 15px;
    background-color: #2c2c2c;
    }

    #pogoda{
        padding: 20px;
    }
    #lbn{
        font-size: 23px;
        font-weight: 700;
    }
    #loc{
        height: 30px;
        float: left;
    }
    #stopnie{
        font-size: 60px;
        font-weight: 300;

    }
    #chmura{
        height: 85px;
        float:right;
        margin-right: 70px;
    }
    .pinfo{
        font-size: 17px;
    }
    #drukarka3d{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    }
    #drukarka3d img{
        height:650px;
        border-radius: 10px;
        margin-top:-10px;
        margin-bottom: 8px;
        }
    #article1 p{
        padding: 5px;
    }

    #col-left{
    float: left;
    width: 79%;
    }
    
    #col-right{
    float: right;
    width: 20%;    
    }
    
    .nagl{
    background-color: #009933;
    border-radius: 10px;
    font-size: 25px;
    }
    .nagl a{
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        }
    #r{
        padding-left:5px;
        font-size:18px;
    }
    .koszyk{
        padding: 10px 20px;
        font-size: 18px;
    }
    
    footer{
        background-color: #2c2c2c;
        text-align: center;
        color:white;
        padding: 10px 0;
    }

    .nagl p{
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        }
        
        #article1 img{
        float: right;
        margin: 10px;
        }
        
        #article1 p{
        text-align: justify;
        font-size: 20px;
        }
        
        section {
            padding: 20px;
            margin: 20px 0;
            border: 1px solid #ccc;
            border-radius: 10px;
        }.container {
            display: flex;
        }
          
        img {
            float: left;
        }
          
          
        a:link{
            
            text-decoration: none;
            color: black;
            
        }  
        a:hover{
            text-decoration: underline;
            text-decoration-color: #009933;
        }
        a:hover:visited{
            text-decoration: underline;
            text-decoration-color: #009933;
        }
        a:visited{
            text-decoration: none;
            color: black;
        }
        
        .text{
            padding-top: 2px;
            padding-left: 20px;
            float: left;
            text-align: left;
            font-size: 40px;
        }
        
        .data{
            float:right;
            font-size: 15px;
            font-style: italic;
            color:gray;
        }
        
        .naglp{
            margin-top: 5px;
            background-color: #009933;
            border-radius: 10px;
            margin-bottom: -10px;
         font-size: 25px;
        }
        .naglp p{
            padding-left: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            }
        .image img{
            height: 220px;
            width: 350px;
        }
.article{
    padding: 50px;
    padding-top:30px;
}
.article h1{
    font-family: "Poppins", cursive;
    font-weight: 400;
    font-style: bold;
    text-align: center;
    font-size: 60px;
    padding-bottom: 5px;
    color:black;
    text-align: left;
    border-bottom:1px solid rgb(223, 222, 222);
}
.article img{
    float: right;
    margin: 15px 0 15px 15px;
    height: 300px;
    width: 300px;
}
.article p{
    margin-top:15px;
}
